<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IoT Application Service</title>
    <h2>Welcome to IoT Application Service</h2>
    <body background="http://4hdwallpapers.com/wp-content/uploads/2016/08/CmEsnlPVEAA7Yec.jpg"></body>
</head>
<body>

</body>
</html>